<!--<nav class="navbar">
    <div class="logo">Fotografia Gelada</div>
    <button class="login-btn" onclick="openModal2()">Login</button>
</nav>



<div id="loginModal" class="modal2">
    <div class="modal2-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Login</h2>
        <form id="loginForm">
            <label for="username">Usuário</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Senha</label>
            <input type="password" id="password" name="password" required>

            <div class="button-container2">
                <button type="button" id="cancelBtn" onclick="closeModal()">Cancelar</button>
                <button type="submit" id="loginBtn">Entrar</button>
            </div>
        </form>
    </div>
</div>
{{> navbar }}
{{> footer }}
